---
layout: default
---

<!-- some spacing -->
<br><br><br>

<!-- This loops through the paginated posts -->
<div class="posts">
{% for post in paginator.posts %}
	{% if post != site.posts.first %}
	<hr>
	{% endif %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date | date_to_string }}</span>
    </p>
    <div class="content">
      {{ post.content }}
    </div>
	<span class="comments-link"><a href="{{ post.url }}/#comments">Leave a comment</a></span>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <a>&laquo; Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a>{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <a>Next &raquo;</a>
  {% endif %}
</div>
{% endif %}
