---
layout: default
---

<!-- some spacing -->
<br><br><br>

<!-- This loops through the paginated posts -->
<div class="posts">
{% for post in paginator.posts %}
	{% if post != site.posts.first %}
	<hr>
	{% endif %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date | date_to_string }}</span>
    </p>
    <div class="content">
      {{ post.content }}
    </div>
	<span class="comments-link"><a href="{{ post.url }}/#comments">Leave a comment</a></span>
	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter" class="zocial twitter icon" target="_blank"></a>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination btn-group">
  {% if paginator.previous_page %}
    <a class="btn prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
  {% else %}
    <a class="btn prev disabled">&larr; Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class="btn disabled">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="btn" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="btn" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="btn next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
  {% else %}
    <a class="btn next disabled">Next &rarr;</a>
  {% endif %}
</div>
{% endif %}
